<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <h1>Here are your Users: </h1>
    <div class="djangoUsers">
      {% if user_data %}
      <ol>
        {% for rec in user_data %}
        <li>User Info</li>
        <ul>
          <li>First Name: {{rec.first_name}}</li>
          <li>Last Name: {{rec.last_name}}</li>
          <li>Email: {{rec.email}}</li>
        </ul>
        {% endfor %}
      </ol>
    </div>
    {% else %}
    <p>No Data available</p>
    {% endif %}
  </body>
</html>
